.card-widget {
    background-color: #ff99cc;
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .number {
    font-size: 14px;
    font-weight: bold;
  }
  