.catalog-card-container {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .catalog-card-image {
    width: 100%;
  }
  
  .catalog-card-description {
    padding: 10px;
  }
  
  .catalog-card-button {
    display: block;
    text-align: center;
    background-color: #db0f97e5;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .catalog-card-button:hover {
    background-color: #da0bc9;
  }
  