
  .descripcion-vestido-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
  }
  
  .descripcion-vestido-container .texto {
    flex: 1; 
    padding-left: 20px;
  }
  
  .descripcion-vestido-container .texto h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .descripcion-vestido-container .texto p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .descripcion-vestido-container .imagen {
    flex: 0 0 auto; 
    
  }
  
  .descripcion-vestido-container .imagen img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 4px 4px rgba(255, 10, 255, 0.397);
  }
  
/* carrito */

.carrito {
    background-color: #a74caf; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition-duration: 0.4s; 
  }
  
  .carrito:hover {
    background-color: #d62fac; 
    color: white; 
  }