.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: auto;
  display: flex; /* Agrega display: flex para usar flexbox */
  flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva fila si no caben */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.titulo {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.producto {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.imagen-producto {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

h2 {
  font-size: 18px;
  color: #666666;
  margin: 0;
}