.barra-navegacion {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(255, 10, 255, 0.397);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.nombre-tienda {
    margin: 0;
    color: #e204ff96;
}

.lista-navegacion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.item-lista {
    margin-right: 10px;
}

.enlace {
    text-decoration: none;
    color: rgba(255, 10, 255, 0.87);
    padding: 5px 10px;
    border-radius: 5px;
}

.enlace:hover {
    background-color: #9e0cff34;
}
